---
layout: default
---

<div class="hero-section">
  <div class="gallery js-flickity" id="hero-slider" data-flickity-options='{"contain": false, "percentPosition": false, "setGallerySize" : true }'>
    {% for slide in site.data.heroslider %}
      <div class="gallery-cell hero-content" style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{slide.file}}')">
        {% if slide.title %}
        <h1>{{slide.title}}</h1>
        {% endif %}
        {% if slide.subtitle %}
        <p>{{slide.subtitle}}</p>
        {% endif %}
        {% if slide.more %}
        <p><a class="hero-button" href="{{slide.more.link |prepend: site.baseurl}}">{% if slide.more.label %}{{slide.more.label}}{% else %}Learn more{% endif %}</a></p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="page-wrapper">
  <h2>News &amp; Current Projects</h2>
  {% capture newsandprojects %}
  {% include_relative _newsandprojects.md %}
  {% endcapture %}
  {{newsandprojects | markdownify }}
</div>

<script src="https://npmcdn.com/flickity@1.1/dist/flickity.pkgd.min.js"></script>
