<footer class="footer">
  <a class="footer__link" href="https://www.fh-ooe.at/en/">
    <span class="icon icon-fhooe">
      {% include icons/fhooe.svg %}
    </span>
  </a>
  <span>
    <a class="footer__link" href="https://www.facebook.com/playful.interactive.environments/" title="Facebook">
      <span class="icon icon-facebook">
        {% include icons/facebook.svg %}
      </span>
    </a>
    <a class="footer__link" href="https://www.youtube.com/channel/UCy8qACq_vlQXLsULwOLcx1A" title="YouTube">
      <span class="icon icon-youtube">
        {% include icons/youtube.svg %}
      </span>
    </a>
    <a class="footer__link" href="https://github.com/Playful-Interactive-Environments/" title="GitHub">
      <span class="icon icon-github">
        {% include icons/github.svg %}
      </span>
    </a>
  </span>
</footer>
