<div class="gallery-main">
  {% assign firstimage = include.data | first %}
  {% assign mainurl =  firstimage.file |prepend: include.project | prepend: site.baseurl %}
  {% assign maindescription =  firstimage.description %}
  <img src="{{mainurl}}" alt="{{maindescription}}" />
</div>
<div class="gallery-preview">
  {% for item in include.data %}
  {% assign previewurl = item.preview |prepend: include.project | prepend: site.baseurl %}
  {% assign imageurl = item.file |prepend: include.project | prepend: site.baseurl %}
  {% assign imagedescription =  item.description %}
  <div class="gallery-preview-item" style="background-image: url('{{previewurl}}')" data-target="{{imageurl}}" data-desc="{{imagedescription}}"></div>
  {% endfor %}
</div>
