<nav class="nav">
  <div class="logo">
    <a class="logo_link" href="{{'/' |prepend: site.baseurl |prepend: site.url}}">
      <img class="logo_img" src="{{ '/assets/brand/pielab-logo.png' | prepend: site.baseurl }}" alt="pielab logo">
    </a>
  </div>
  <div class="menu_toggle">
    <a id="menu_toggle_button" class="menu_toggle_button">Menu</a>
  </div>
  <ul id="nav_list" class="nav_list" role="nav">
    {% assign navitems = site.data.navigation | sort: "weight" %}
    {% for navitem in navitems %}
      <li class="nav_item">
        <a class="nav_link" href="{{navitem.link | prepend: '/' | prepend: site.baseurl}}">{{navitem.name}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
