.gallery-main {
  margin-top: 0.8em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.gallery-preview {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}

.gallery-preview-item {
  flex-basis: calc(20% - 0.5em);
  flex-grow: 0;
  flex-shrink:1;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  position: relative;
  background-position: center;
  background-size: cover;

  @media(min-width: $screen-sm) {
    
  }

  @media(min-width: $screen-lg) {
    flex-basis: calc(15% - 0.5em);
  }

  @media(min-width: $screen-xl) {

  }


  &:after {
    content: '';
    padding-bottom: 100%;
    display: block;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.gallery-credits {
  font-size: 12px;
  margin-top: 1em;
  line-height: 1.1em;

  & ul {
    line-height: 1.1em;
  }
}
