.wrapper {
  margin-left: auto;
  margin-right: auto;
  transition: max-width 180ms ease-out;

  @media(min-width: $screen-md) {
    max-width: $screen-md;
  }

  @media(min-width: $screen-lg) {
    max-width: $screen-lg;
  }
}

.flex-wrapper {
  @extend .wrapper;
  display: flex;
  flex-wrap: wrap;
}
