.nav {
  display: flex;
  border-bottom: 1px solid $nav-border;
  background-color: #fff;
}

.logo {
  flex: 0 0 260px;
}

.logo_link {
  display: block;
}

.logo_img {
  height: 40px;
  margin: 10px 30px;
}

.nav_list {
  display: flex;
  flex: 1;
}

.nav_item {
  flex: 1;
  text-align: center;
  align-self: center;
}

.nav_link {
  text-decoration: none;
  color: $link-color;
  font-size: 0.8em;
}
