.project {
  margin-top: 5em;
  flex-direction: column-reverse;

  @media(min-width: $screen-sm) {
    justify-content: space-around;
  }

  @media(min-width: $screen-md) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.project-gallery {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  order: 1;
  margin: 2em;
  @media(min-width: $screen-sm) {
    flex-basis: 75%;
  }

  @media(min-width: $screen-md) {
    margin: 0;
  }
}

.project-details {
  flex: 1;
  flex-basis: 100%;
  order: 2;
  margin: 0 2em;

  @media(min-width: $screen-sm) {
    text-align: justify;
    margin-bottom: 2em;
  }

  @media(min-width: $screen-md) {
    flex-basis: 400px;
  }
}
