.gallery {
  min-height: 70vh;
  background-color: #0f0f0f;
}

.gallery-cell {
  width: 100vw;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 2em 3em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flickity-page-dots {
  bottom: 20px;

  .dot {
    background-color: $secondary-color;
    margin: 0 6px;

    &.is-selected {
      opacity: 0.5;
    }
  }
}

.flickity-prev-next-button {
  background: transparent;
  border: 0;
  width: 25px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0.5;

  @media (min-width: $screen-sm) {
    width: 45px;
  }

  svg {
    fill: #fff;
    width: 45px;
    height: 45px;
  }
}

.flickity-prev-next-button.previous {
  left: 0;
}

.flickity-prev-next-button.next {
  right: 0;

  svg {
    margin-left: -10px;
  }
}
