.hero-slider {
  min-height: 100%;

  max-height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-slider-nav {
  background-image: url('../assets/navarrow.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 25px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0.5;

  @media(min-width: $screen-sm) {
    width: 45px;
  }
}

.hero-slider-nav-prev {
  left: 0;
}

.hero-slider-nav-next {
  transform: scale(-1);
  right: 0;
}
