.hero-slider {
  min-height: 100%;

  max-height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-slider-nav {
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="29.877" height="67.75" viewBox="0 0 29.877 67.75"><path fill="#FFF" d="M26.54 67.75c-.62 0-1.23-.287-1.622-.83l-23.833-33a2 2 0 0 1 .04-2.395L24.96.775A1.998 1.998 0 0 1 27.763.42a2 2 0 0 1 .355 2.806L5.203 32.792 28.16 64.58a2 2 0 0 1-1.62 3.17z"/></svg>');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 25px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0.5;

  @media(min-width: $screen-sm) {
    width: 45px;
  }
}

.hero-slider-nav-prev {
  left: 0;
}

.hero-slider-nav-next {
  transform: scale(-1);
  right: 0;
}
