.people-grouplabel {
  flex: 1 0 100%;
}

.people-group {
  margin-top: 1.5em;

  @media (min-width: $screen-sm) {
    justify-content: space-between;
  }
}

.staff {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 225px;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $screen-sm) {
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 420px;
  }

  @media (min-width: $screen-lg) {
    flex-basis: 420px;
    flex-grow: 1;
    max-width: calc(50% - 1em);
  }
}

.staff-photo {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1.5em;

  @media (min-width: $screen-sm) {
    flex-basis: 100px;
    margin-bottom: 0;
    margin-right: 1.5em;
  }
}

.staff-details {
  flex-grow: 1;
}

.staff-name {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.staff-phone,
.staff-email,
.staff-projects {
  font-size: 0.8em;
  margin-top: 0;
}
