
$primary-color: #828687;
$secondary-color: #f8f9fb;

$link-color: $primary-color;
$nav-border: #dad9de;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;

$nav-breakpoint: $screen-md;
