
$primary-color: #828687;
$secondary-color: #f8f9fb;

$link-color: $primary-color;
$nav-border: #dad9de;

$header-color: #d6d6d6;
$text-color: #707271;
$button-color: #e63563;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1280px;

$nav-breakpoint: $screen-md;
