---
layout: page
---
{% capture gallery %}
  {% if page.gallery %}
    <div class="project-gallery">
      {% include gallery.html data=page.gallery project=page.url %}
    </div>
  {% else %}
    {% assign nogalleryClass = "project-nogallery" %}
  {% endif %}
{% endcapture %}

<article class="flex-wrapper project {{nogalleryClass}}">
  {{gallery}}
  <div class="project-details">
    <h1 class="project-details-title">{{page.title}}</h1>
    <p class="project-details-category">{{page.category}}</p>
    {{content}}
  </div>
</article>
