---
layout: page
---
{% capture gallery %}
  {% if page.gallery %}
    <div class="project-gallery">
      {% include gallery.html data=page.gallery project=page.url %}
      {% if page.imagecredits %}
      <div class="gallery-credits">Image credits:
        <ul>
      {% for item in page.imagecredits %}
          <li>{{item.number}}: {{item.author}}</li>
      {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  {% else %}
    {% assign nogalleryClass = "project-nogallery" %}
  {% endif %}
{% endcapture %}

<article class="flex-wrapper project {{nogalleryClass}}">
  <div class="project-details">
    <h1 class="project-details-title">{{page.title}}</h1>
    {% if page.category %}
    <p class="project-details-metadata">Category: {{page.category | capitalize}} Project</p>
    {% endif %}
    {% if page.start and page.end %}
    <p class="project-details-metadata">Duration: {{page.start | date: "%m/%Y"}}&ndash;{{page.end | date: "%m/%Y"}}</p>
    {% endif %}
    {% if page.release %}
    <p class="project-details-metadata">Release: {{page.release | date: "%m/%Y"}}</p>
    {% endif %}

    {{gallery}}
    {{content}}
  </div>
</article>

<script src="{{ '/js/gallery.js' |prepend: site.baseurl}}"></script>